<div class="page-header">
<h3>HealthTraks (beta version)<br><small><i>Your Profile</i></small></h4>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Your email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Your password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @user.patient_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning" %>
<%= link_to 'Login', login_path, class: "btn btn-primary" %>
