<div class="">
	<h4>HealthTraks (beta)<br><small><i>for <%= current_user.patient_name  %></i></small></h4>
</div>

<div class="event_button">
		<%= link_to '+ New Entry', new_event_path, html_options={class: "btn btn-success"} %>
		<%= link_to 'List View', session[:user_id].to_s, html_options={class: "btn btn-info"} %>
</div>

<%= month_calendar(attribute: :eventdate, events: @events) do |date, events| %>
	<div id="calendar-date"><%= date.day%></div>

	<% events.each do |event| %>
		<div class="calendar-entry">
			<%= event.event %>
		</div>
	<% end %>
<% end %>
