<div class="jumbotron">
<h1>HealthTraks</h1>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.event %>
</p>

<p>
  <strong>Eventdate:</strong><span style=color:#778899;>
  <%= @event.eventdate.strftime('%a %m/%d/%Y') %></span>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>

<%= link_to ' Edit', edit_event_path(@event), html_options = { class: "fa fa-pencil" } %> |
<%= link_to ' Back', events_path,  html_options = { class: "fa fa-arrow-circle-left" } %>
