<h1>HealthTraks<br><small><i>for River Joanie</i></small></h1>

<hr>

<div class="menu-bar">
	<%= link_to ' Edit', edit_event_path(@event), html_options = { class: "btn btn-success" } %>
	<%= link_to ' Back to List', events_path, html_options = { class: "btn btn-success"} %>
	<%= link_to ' Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.eventdate.strftime('%a %m/%d/%Y') %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @event.event %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>
