<!DOCTYPE html>
<html>
<head>
  <title>Healthtrak</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
    <div class="pull-right">
      <h5>
        <% if session[:user_id]%>
          <%= "#{current_user.email}" %> |
          <%= link_to "Logout", logout_path(current_user), method: :delete %>
        <% end %>
      </h5>
    </div>
		<%= yield %>
	<div class="footer">
		<hr>
		<p style=color:#778899;><i>Healthtraks</i> &copy; 2015 by ChapApptive. All rights reserved. <%= link_to ' Terms of Service', '/static_pages/terms', html_options = { target: "_blank"} %> and <%= link_to ' Privacy Policy', '/static_pages/privacy', html_options = { target: "_blank"} %>.</p>
	</div>

    <%= debug(params) if Rails.env.development? %>

	</div>

</body>
</html>
